themes/Azure-ttk-theme/* linguist-vendored
themes/Azure-ttk-theme/theme/dark.tcl linguist-vendored
themes/Azure-ttk-theme/theme/light.tcl linguist-vendored
themes/Azure-ttk-theme/theme/azure.tcl linguist-vendored
themes/Azure-ttk-theme/README.md linguist-vendored
themes/Azure-ttk-theme/example.py linguist-vendored

themes/Sun-Valley-ttk-theme-master/* linguist-vendored
themes/Sun-Valley-ttk-theme-master/theme/dark.tcl linguist-vendored
themes/Sun-Valley-ttk-theme-master/theme/light.tcl linguist-vendored
themes/Sun-Valley-ttk-theme-master/theme/sun-valley.tcl linguist-vendored
themes/Sun-Valley-ttk-theme-master/README.md linguist-vendored
themes/Sun-Valley-ttk-theme-master/example.py linguist-vendored
